body {
    margin: 0px;
    background-color: #F5ECD5;
}

#signUpBody {
    font-family: "Inter", sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#signUpmain {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

p, h1, h2, h3, h4, h5, h6, .btn {
    font-family: 'Raleway', Arial, sans-serif;
}

#nav {
    background-color: #F0BB78;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav_links {
    text-decoration: none;
    color: black;
    margin: 10px; /*auto?*/
}

#signUpLink {
    background-color: #626F47;
    border: none;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 7px 10px;
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    background-color: #F0BB78;
    align-self: center;
}

button {
    background-color: #626F47;
    border: none;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 7px 10px;
    color: white;
}

button:hover {
    background-color: #A4B465;
}

/* Range slider for rating */
input[type="range"]::-webkit-slider-thumb {
  background-color: #626F47;
  border-radius: 50%;
}

.card {
    display: flex; 
    text-align: center;
    margin: 5px;
    max-width: fit-content;
    background-color: #F0BB78;
}

.filterSection {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #F0BB78;
}

.sustainabilityCalculator {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #F0BB78;
    margin-right: 25%;
}

#searchProducts {
    border-radius: 10px;
    padding: 7px 10px;
}
/*//////*/

@media (max-width: 786px) {
    p {
        font-size: .75rem;
    }

    .card {
        max-width: 60%;
    }
} 

.saved-items {
    padding: 40px
}

.saved-items .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.saved-items .card {
    margin: 5px;
    max-width: fit-content;
    background-color: #F0BB78;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    flex-direction: column;
}

.saved-items .btn-primary {
    background-color: #626F47;
    border: none;
    margin: 5px 0px;
    border-radius: 10px;
}

.saved-items .btn-primary:hover {
    background-color: #A4B465;
}

.card-img-top {
    border: 5px solid #626F47;
    border-radius: 10px;
}

.selected {
    background-color: #d3f1ff;
}
